<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>B R A I N || D U M P </title>
	<meta name="description" content=": a collection of articles, pictures, and logs">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/sitewide.css">
	
	<!-- pull in webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>
<body>

	<!-- Page content goes inside the container -->
	<!-- In general, you should have only one container per page. -->
	<div class="container clearfix">

        <h1>{{ site.title }}</h1>

        {{ body }}

		{% for post in site.posts %}
			<div style="float: left;width: 31%;background-color: #f2f2f2;padding: 10px;border-radius: 5px;margin-right: 1%;margin-top: 5px">
				<article>
					<h2><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h2>
					<p>{{ post.date | date: "%A, %B %-d, %Y" }}</p>
					{{ post.teaser }}        
				</article>
			</div>
        {% endfor %}


	</div><!-- end container -->
	
</body>
</html>
